<%- include('./partials/head.ejs') %>
<section class="stekje-aanmelden-form">
    <h1 class="stekje-aanmelden-form_h1">Stekje toevoegen:</h1>
    <form action="/stekjes" method="post">
      <label for="naam">Naam van uw stekje *</label>
      <input type="text" id="naam" name="naam" value="<%= locals.naam ?? '' %>" >

      <label for="verzorging">Verzorging informatie</label>
        <textarea id="verzorging" name="verzorging" style="height:100px"  value="<%= locals.verzorging ?? '' %>" ></textarea>

        <label for="voeding">Voeding informatie</label>
        <textarea id="voeding" name="voeding" style="height:100px" value="<%= locals.voeding ?? '' %>" ></textarea>

        <label for="giftig">Giftig informatie</label>
        <textarea id="giftig" name="giftig" style="height:100px"  value="<%= locals.giftig ?? '' %>" ></textarea>

        <label for="landvanherkomst">Uit welke land uw stekje ?</label>
        <textarea id="landvanherkomst" name="landvanherkomst" style="height:100px"  value="<%= locals.landvanherkomst ?? '' %>" ></textarea>

        <label for="fotos">Foto van uw stekje *</label>
        <input type="text" id="fotos" name="fotos"  value=""/>
    
        <input type="submit" value="Stekje aanmelden">
      </form>
      <img class="plant-img-form" src="../assets/plant-stem.png" alt="plant-stem">
</section>
<%- include('./partials/foot.ejs') %> x